Services_All/Service References/NahdiVPN/GI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GI" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://test1.dhc.local/GI.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://test1.dhc.local/GI.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIntegration_GetBupaEligibility_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBupaEligibility" />
  </wsdl:message>
  <wsdl:message name="IIntegration_GetBupaEligibility_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBupaEligibilityResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegration_GetWaseelEligibility_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWaseelEligibility" />
  </wsdl:message>
  <wsdl:message name="IIntegration_GetWaseelEligibility_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWaseelEligibilityResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegration_GetWaseelApprovalSubmission_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWaseelApprovalSubmission" />
  </wsdl:message>
  <wsdl:message name="IIntegration_GetWaseelApprovalSubmission_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWaseelApprovalSubmissionResponse" />
  </wsdl:message>
  <wsdl:portType name="IIntegration">
    <wsdl:operation name="GetBupaEligibility">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegration/GetBupaEligibility" message="tns:IIntegration_GetBupaEligibility_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegration/GetBupaEligibilityResponse" message="tns:IIntegration_GetBupaEligibility_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWaseelEligibility">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegration/GetWaseelEligibility" message="tns:IIntegration_GetWaseelEligibility_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegration/GetWaseelEligibilityResponse" message="tns:IIntegration_GetWaseelEligibility_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWaseelApprovalSubmission">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegration/GetWaseelApprovalSubmission" message="tns:IIntegration_GetWaseelApprovalSubmission_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegration/GetWaseelApprovalSubmissionResponse" message="tns:IIntegration_GetWaseelApprovalSubmission_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GI" type="tns:IIntegration">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBupaEligibility">
      <soap:operation soapAction="http://tempuri.org/IIntegration/GetBupaEligibility" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWaseelEligibility">
      <soap:operation soapAction="http://tempuri.org/IIntegration/GetWaseelEligibility" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWaseelApprovalSubmission">
      <soap:operation soapAction="http://tempuri.org/IIntegration/GetWaseelApprovalSubmission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GI">
    <wsdl:port name="GI" binding="tns:GI">
      <soap:address location="http://174.142.170.199/GI.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>