Services_All/Service References/Member_Registration/MemberRegistration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MemberRegistration" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MemberRegistration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UploadResponse">
    <xs:sequence>
      <xs:element name="Result" type="xs:int" />
      <xs:element name="FileId" nillable="true" type="xs:string" />
      <xs:element name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element name="ErrorReport" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UploadResponse" nillable="true" type="tns:UploadResponse" />
  <xs:complexType name="ValidateMemberResponse">
    <xs:sequence>
      <xs:element name="Result" type="xs:int" />
      <xs:element name="UID" nillable="true" type="xs:string" />
      <xs:element name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateMemberResponse" nillable="true" type="tns:ValidateMemberResponse" />
  <xs:complexType name="MemberInsuranceResponse">
    <xs:sequence>
      <xs:element name="Result" type="xs:int" />
      <xs:element name="memberInformation" nillable="true" type="xs:string" />
      <xs:element name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemberInsuranceResponse" nillable="true" type="tns:MemberInsuranceResponse" />
  <xs:complexType name="DownloadResponse">
    <xs:sequence>
      <xs:element name="Result" type="xs:int" />
      <xs:element name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element name="FileContnet" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DownloadResponse" nillable="true" type="tns:DownloadResponse" />
  <xs:complexType name="DownloadReportResponse">
    <xs:sequence>
      <xs:element name="Result" type="xs:int" />
      <xs:element name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element name="ReportContent" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DownloadReportResponse" nillable="true" type="tns:DownloadReportResponse" />
</xs:schema>