Services_All/Service References/Member_Registration/MemberRegistration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MemberRegistration" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="basicEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://mr.eclaimlink.ae/MemberRegistration.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://mr.eclaimlink.ae/MemberRegistration.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://mr.eclaimlink.ae/MemberRegistration.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MemberRegistration" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMemberRegistration_UploadMemberRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadMemberRegistration" />
  </wsdl:message>
  <wsdl:message name="IMemberRegistration_UploadMemberRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadMemberRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberRegistration_UploadBulkMemberRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadBulkMemberRegistration" />
  </wsdl:message>
  <wsdl:message name="IMemberRegistration_UploadBulkMemberRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadBulkMemberRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberRegistration_ValidateMemberUID_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateMemberUID" />
  </wsdl:message>
  <wsdl:message name="IMemberRegistration_ValidateMemberUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateMemberUIDResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberRegistration_GetMemberInsuranceInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberInsuranceInformation" />
  </wsdl:message>
  <wsdl:message name="IMemberRegistration_GetMemberInsuranceInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberInsuranceInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberRegistration_DownloadTransactionFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadTransactionFile" />
  </wsdl:message>
  <wsdl:message name="IMemberRegistration_DownloadTransactionFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadTransactionFileResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberRegistration_DownloadReport_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadReport" />
  </wsdl:message>
  <wsdl:message name="IMemberRegistration_DownloadReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadReportResponse" />
  </wsdl:message>
  <wsdl:portType name="IMemberRegistration">
    <wsdl:operation name="UploadMemberRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberRegistration/UploadMemberRegistration" message="tns:IMemberRegistration_UploadMemberRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberRegistration/UploadMemberRegistrationResponse" message="tns:IMemberRegistration_UploadMemberRegistration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadBulkMemberRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberRegistration/UploadBulkMemberRegistration" message="tns:IMemberRegistration_UploadBulkMemberRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberRegistration/UploadBulkMemberRegistrationResponse" message="tns:IMemberRegistration_UploadBulkMemberRegistration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateMemberUID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberRegistration/ValidateMemberUID" message="tns:IMemberRegistration_ValidateMemberUID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberRegistration/ValidateMemberUIDResponse" message="tns:IMemberRegistration_ValidateMemberUID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberInsuranceInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberRegistration/GetMemberInsuranceInformation" message="tns:IMemberRegistration_GetMemberInsuranceInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberRegistration/GetMemberInsuranceInformationResponse" message="tns:IMemberRegistration_GetMemberInsuranceInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadTransactionFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberRegistration/DownloadTransactionFile" message="tns:IMemberRegistration_DownloadTransactionFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberRegistration/DownloadTransactionFileResponse" message="tns:IMemberRegistration_DownloadTransactionFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberRegistration/DownloadReport" message="tns:IMemberRegistration_DownloadReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberRegistration/DownloadReportResponse" message="tns:IMemberRegistration_DownloadReport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="basicEndpoint" type="tns:IMemberRegistration">
    <wsp:PolicyReference URI="#basicEndpoint_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadMemberRegistration">
      <soap:operation soapAction="http://tempuri.org/IMemberRegistration/UploadMemberRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadBulkMemberRegistration">
      <soap:operation soapAction="http://tempuri.org/IMemberRegistration/UploadBulkMemberRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateMemberUID">
      <soap:operation soapAction="http://tempuri.org/IMemberRegistration/ValidateMemberUID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberInsuranceInformation">
      <soap:operation soapAction="http://tempuri.org/IMemberRegistration/GetMemberInsuranceInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadTransactionFile">
      <soap:operation soapAction="http://tempuri.org/IMemberRegistration/DownloadTransactionFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadReport">
      <soap:operation soapAction="http://tempuri.org/IMemberRegistration/DownloadReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MemberRegistration">
    <wsdl:port name="basicEndpoint" binding="tns:basicEndpoint">
      <soap:address location="https://mr.eclaimlink.ae/MemberRegistration.svc/basic" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>