Services_All/Service References/Member_Registration/MemberRegistration2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://mr.eclaimlink.ae/MemberRegistration.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MemberRegistration" />
  <xs:element name="UploadMemberRegistration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileContent" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadMemberRegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MemberRegistration" minOccurs="0" name="UploadMemberRegistrationResult" nillable="true" type="q1:UploadResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadBulkMemberRegistration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileContent" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadBulkMemberRegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MemberRegistration" minOccurs="0" name="UploadBulkMemberRegistrationResult" nillable="true" type="q2:UploadResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateMemberUID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="payerLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payerPwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gender" type="xs:int" />
        <xs:element minOccurs="0" name="dateOfBirth" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nationality" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passportNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="visaSource" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateMemberUIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MemberRegistration" minOccurs="0" name="ValidateMemberUIDResult" nillable="true" type="q3:ValidateMemberResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberInsuranceInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateOfBirth" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gender" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberInsuranceInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MemberRegistration" minOccurs="0" name="GetMemberInsuranceInformationResult" nillable="true" type="q4:MemberInsuranceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadTransactionFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadTransactionFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MemberRegistration" minOccurs="0" name="DownloadTransactionFileResult" nillable="true" type="q5:DownloadResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MemberRegistration" minOccurs="0" name="DownloadReportResult" nillable="true" type="q6:DownloadReportResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>