Services_All/Service References/IDAM_eClaimLink/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/IntegrationService.Entities" />
  <xs:element name="GetNewClinicians">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromDateString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCliniciansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IntegrationService.Entities" minOccurs="0" name="GetNewCliniciansResult" nillable="true" type="q1:ResponseWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateClinician">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clinicianUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clinicianpassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateClinicianResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IntegrationService.Entities" minOccurs="0" name="AuthenticateClinicianResult" nillable="true" type="q2:ResponseWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCliniciansNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromDateString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toDateString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewCliniciansNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IntegrationService.Entities" minOccurs="0" name="GetNewCliniciansNewResult" nillable="true" type="q3:ResponseWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateFacility">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="facilityUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="facilityPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateFacilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IntegrationService.Entities" minOccurs="0" name="AuthenticateFacilityResult" nillable="true" type="q4:ResponseWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewFacility">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromDateString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewFacilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/IntegrationService.Entities" minOccurs="0" name="GetNewFacilityResult" nillable="true" type="q5:ResponseWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>