Services_All/Service References/IDAM_eClaimLink/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="eClaimLink" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="wsHttpEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/IntegrationService.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IeClaimLink_GetNewClinicians_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewClinicians" />
  </wsdl:message>
  <wsdl:message name="IeClaimLink_GetNewClinicians_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewCliniciansResponse" />
  </wsdl:message>
  <wsdl:message name="IeClaimLink_AuthenticateClinician_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateClinician" />
  </wsdl:message>
  <wsdl:message name="IeClaimLink_AuthenticateClinician_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateClinicianResponse" />
  </wsdl:message>
  <wsdl:message name="IeClaimLink_GetNewCliniciansNew_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewCliniciansNew" />
  </wsdl:message>
  <wsdl:message name="IeClaimLink_GetNewCliniciansNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewCliniciansNewResponse" />
  </wsdl:message>
  <wsdl:message name="IeClaimLink_AuthenticateFacility_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateFacility" />
  </wsdl:message>
  <wsdl:message name="IeClaimLink_AuthenticateFacility_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateFacilityResponse" />
  </wsdl:message>
  <wsdl:message name="IeClaimLink_GetNewFacility_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewFacility" />
  </wsdl:message>
  <wsdl:message name="IeClaimLink_GetNewFacility_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewFacilityResponse" />
  </wsdl:message>
  <wsdl:portType name="IeClaimLink">
    <wsdl:operation name="GetNewClinicians">
      <wsdl:input wsaw:Action="http://tempuri.org/IeClaimLink/GetNewClinicians" message="tns:IeClaimLink_GetNewClinicians_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeClaimLink/GetNewCliniciansResponse" message="tns:IeClaimLink_GetNewClinicians_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateClinician">
      <wsdl:input wsaw:Action="http://tempuri.org/IeClaimLink/AuthenticateClinician" message="tns:IeClaimLink_AuthenticateClinician_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeClaimLink/AuthenticateClinicianResponse" message="tns:IeClaimLink_AuthenticateClinician_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewCliniciansNew">
      <wsdl:input wsaw:Action="http://tempuri.org/IeClaimLink/GetNewCliniciansNew" message="tns:IeClaimLink_GetNewCliniciansNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeClaimLink/GetNewCliniciansNewResponse" message="tns:IeClaimLink_GetNewCliniciansNew_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateFacility">
      <wsdl:input wsaw:Action="http://tempuri.org/IeClaimLink/AuthenticateFacility" message="tns:IeClaimLink_AuthenticateFacility_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeClaimLink/AuthenticateFacilityResponse" message="tns:IeClaimLink_AuthenticateFacility_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewFacility">
      <wsdl:input wsaw:Action="http://tempuri.org/IeClaimLink/GetNewFacility" message="tns:IeClaimLink_GetNewFacility_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IeClaimLink/GetNewFacilityResponse" message="tns:IeClaimLink_GetNewFacility_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsHttpEndpoint" type="tns:IeClaimLink">
    <wsp:PolicyReference URI="#wsHttpEndpoint_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNewClinicians">
      <soap12:operation soapAction="http://tempuri.org/IeClaimLink/GetNewClinicians" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateClinician">
      <soap12:operation soapAction="http://tempuri.org/IeClaimLink/AuthenticateClinician" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewCliniciansNew">
      <soap12:operation soapAction="http://tempuri.org/IeClaimLink/GetNewCliniciansNew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateFacility">
      <soap12:operation soapAction="http://tempuri.org/IeClaimLink/AuthenticateFacility" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewFacility">
      <soap12:operation soapAction="http://tempuri.org/IeClaimLink/GetNewFacility" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="eClaimLink">
    <wsdl:port name="wsHttpEndpoint" binding="tns:wsHttpEndpoint">
      <soap12:address location="http://eservicesstg.dha.gov.ae:6000/Services/eClaimLink.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://eservicesstg.dha.gov.ae:6000/Services/eClaimLink.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>