Services_All/Service References/DHPO_Archive/ClaimsAndAuthorizationsArchive.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.eClaimLink.ae/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.eClaimLink.ae/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.eClaimLink.ae/">
      <s:element name="DownloadTransactionFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadTransactionFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DownloadTransactionFileResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="file" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTransactions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="direction" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="callerLicense" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ePartner" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="transactionID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="TransactionStatus" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="transactionFileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="transactionFromDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="transactionToDate" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="minRecordCount" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="maxRecordCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchTransactionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SearchTransactionsResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="foundTransactions" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DownloadTransactionFileSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadTransactionFile" />
  </wsdl:message>
  <wsdl:message name="DownloadTransactionFileSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadTransactionFileResponse" />
  </wsdl:message>
  <wsdl:message name="SearchTransactionsSoapIn">
    <wsdl:part name="parameters" element="tns:SearchTransactions" />
  </wsdl:message>
  <wsdl:message name="SearchTransactionsSoapOut">
    <wsdl:part name="parameters" element="tns:SearchTransactionsResponse" />
  </wsdl:message>
  <wsdl:portType name="ClaimsAndAuthorizationsArchiveSoap">
    <wsdl:operation name="DownloadTransactionFile">
      <wsdl:input message="tns:DownloadTransactionFileSoapIn" />
      <wsdl:output message="tns:DownloadTransactionFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchTransactions">
      <wsdl:input message="tns:SearchTransactionsSoapIn" />
      <wsdl:output message="tns:SearchTransactionsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClaimsAndAuthorizationsArchiveSoap" type="tns:ClaimsAndAuthorizationsArchiveSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DownloadTransactionFile">
      <soap:operation soapAction="http://www.eClaimLink.ae/DownloadTransactionFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTransactions">
      <soap:operation soapAction="http://www.eClaimLink.ae/SearchTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClaimsAndAuthorizationsArchiveSoap12" type="tns:ClaimsAndAuthorizationsArchiveSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DownloadTransactionFile">
      <soap12:operation soapAction="http://www.eClaimLink.ae/DownloadTransactionFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTransactions">
      <soap12:operation soapAction="http://www.eClaimLink.ae/SearchTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClaimsAndAuthorizationsArchive">
    <wsdl:port name="ClaimsAndAuthorizationsArchiveSoap" binding="tns:ClaimsAndAuthorizationsArchiveSoap">
      <soap:address location="https://dhpo.eclaimlink.ae/ClaimsAndAuthorizationsArchive.asmx" />
    </wsdl:port>
    <wsdl:port name="ClaimsAndAuthorizationsArchiveSoap12" binding="tns:ClaimsAndAuthorizationsArchiveSoap12">
      <soap12:address location="https://dhpo.eclaimlink.ae/ClaimsAndAuthorizationsArchive.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>